    body {
    padding: 0;
    margin: 0;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


/* nav bar */

.navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}


/* Portfolio Item Row */

h1 {
    color: white;
    font-size: 50px;
    /* opacity: 0.4; */
}

h2 {
    color: white;
    font-weight: bold;
}

p {
    font-size: 12px;
}
    
h3 {
    text-transform: lowercase;
    color: #4aaaa5;
}
/* main photo */
    
#photo {
    height: 300px;
    width: 105%;
}
    
/* icons to connect */

#contacting {
    text-align: center;
}
    
    
/* Contact Row */
    
#project-title {
    text-align: left;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}